<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Happy</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Happy</h1>
        <div th:object="${riku}" >
            <div >


                <p>RikuはToyが好き</p>
                <img src="/style/happy_riku.jpg">

            </div>
            <!-- button -->


        </div>

        <div class="pull-right">
            <a class="btn btn-default" href="/riku">go to save data</a>
        </div>
    </div>

</div>
</body>
</html>