<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Q3</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Story1</h1>
        <div th:object="${riku}" >
            <div >


                <p>RikuはToyが好き</p>

            </div>
            <!-- button -->
            <div>

                <a class="btn btn-primary" th:href="@{/riku/bad}">A.でない</a>
                <a class="btn btn-primary" th:href="@{/riku/happy}">B.である</a>
            </div>

        </div>

        <div class="pull-right">
            <a class="btn btn-default" href="/riku">go to save data</a>
        </div>
    </div>

</div>
</body>
</html>